<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chez Margot</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="home" data-bind="visible: !user()">
            <h1>Chez Margot</h1>

            <form id="login-form" method="post" data-bind="attr: {action: host + '/api/users'}" role="form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg">Start eating well!</button>
            </form>
        </div>

        <div id="main" data-bind="visible: user() && user().token">
            <h1 data-bind="if: user()">
                Chez Margot
                <span id="account">
                    <span data-bind="text: user().name"></span>
                    <a id="logout" href="#">Logout</a>
                </span>
            </h1>

            <div id="week">
                <i class="fa fa-chevron-left" data-bind="click: previousWeek"></i>
                <span data-bind="text: formattedWeek()"></span>
                <i class="fa fa-chevron-right" data-bind="click: nextWeek"></i>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <!-- ko foreach: days -->
                        <th data-bind="text: name"></th>
                        <!-- /ko -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="dish"></td>
                        <!-- ko foreach: days -->
                        <td class="dish">
                            <ul>
                                <!-- ko foreach: dishes -->
                                <li class="dish" data-bind="text: name, click: $root.deleteDish"></li>
                                <!-- /ko -->
                                <!-- ko if: $root.user() && $root.user().admin -->
                                <li>
                                    <form class="add-dish" data-bind="submit: $root.addDish">
                                        <input type="text" name="name" placeholder="+ Add a dish" data-bind="attr: {'data-day': $index() + 1}" />
                                    </form>
                                </li>
                                <!-- /ko -->
                            </ul>
                        </td>
                        <!-- /ko -->
                    </tr>
                    <!-- ko foreach: users -->
                    <tr class="tickets">
                        <td class="username" data-bind="text: name"></td>
                        <!-- ko foreach: tickets -->
                        <td><i class="fa fa-cutlery" data-bind="css: {'active': $data}, click: $root.toggleTicket, attr: {'data-day': $index() + 1, 'data-parent': $parent.name}"></i></td>
                        <!-- /ko -->
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script type="text/javascript" src="moment.js"></script>
        <script type="text/javascript" src="client.js"></script>
    </body>
</html>
