body {
    font-family: 'Poiret One', cursive;
    margin: 0 0px;
    font-size: 18px;
}

a {
    color: purple;
    border-bottom: 1px dashed purple;
}

#home {
    max-width: 400px;
    margin: 0 auto;
}

#home h1 {
    font-size: 60px;
    margin: 50px 0;
}

h1 {
    position: relative;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 30px;
}

#account {
    font-family: 'Poiret One', cursive;
    position: absolute;
    font-size: 20px;
    text-transform: capitalize;
    right: 20px;
    top: 10px;
}

#week {
    font-size: 14px;
    text-align: center;
    margin: 20px;
}

#week i {
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle;
    margin: 0 20px;
}

#week a:hover {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    text-transform: capitalize;
    list-style-type: none;
    border-bottom: 1px solid rgba(245, 250, 255, 0.17);
    margin-bottom: 10px;
}

th {
    font-size: 20px;
    color: purple;
    border-bottom: 0 !important;
}

td, th {
    padding: 20px !important;
}

.username {
    color: purple;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

td.dish {
    background: rgba(108, 69, 117, 0.65) !important;
    color: white;
}

form input {
    background: transparent;
    border: 0;
    color: white;
    outline: none;
}

::-webkit-input-placeholder {
    color: purple;
}

:-moz-placeholder { /* Firefox 18- */
    color: purple;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: purple;
}

:-ms-input-placeholder {
    color: purple;
}

tr.tickets td {
    text-align: center;
}

.fa {
    color: #333;
}

.fa-cutlery {
    color: lightgray;
    font-size: 20px;
}

.fa.active {
    color: purple;
}
